{
    "env": {
        "browser": true,
        "es2021": true
    },
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:react-hooks/recommended",
        "plugin:prettier/recommended",
        "plugin:import/recommended"
    ],
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaVersion": "latest",
        "sourceType": "module",
        "project": "./tsconfig.json"
    },
    "plugins": [
        "@typescript-eslint",
        "react-hooks",
        "prettier"
    ],
    "rules": {
        "eol-last": ["error", "always"],
        "linebreak-style": ["error", "unix"],
        "no-multiple-empty-lines": ["error", { "max": 1 }],
        "object-curly-spacing": ["error", "always"],
        "prettier/prettier": ["error", { "singleQuote": true }],
        "semi": ["error", "always"],
        "quotes": ["error", "single", { "avoidEscape":  true }],
        "@typescript-eslint/no-empty-function": ["off", "always"],
        "@typescript-eslint/no-unused-vars": "error",
        "react-hooks/exhaustive-deps": "error",
        "react-hooks/rules-of-hooks": "warn",
        "import/order": ["error", { "groups": ["builtin", "external", "internal", "parent", "sibling", "index"] }],
        "@typescript-eslint/no-var-requires": "warn"
    },
    "settings": {
        "import/parsers": {
            "@typescript-eslint/parser": [".ts", ".tsx"]
        },
        "import/resolver": {
            "typescript": {
                "alwaysTryTypes": true,
                "project": "./tsconfig.json"
            }
        }
    }
}
