.container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 48px;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.column {
  display: flex;
  justify-content: left;
  flex-direction: column;
  width: calc((100% - 24px) / 3);
}
