.tabs {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-radius: 25px;
  padding: 8px;
  box-shadow:
    rgb(0 0 0 / 15%) 0 -0.5px 1px 0,
    rgb(0 0 0 / 20%) 0 3px 5px -1px,
    rgb(0 0 0 / 14%) 0 6px 10px 0,
    rgb(0 0 0 / 12%) 0 1px 18px 0;
}

.tabs > .tab {
  text-align: center;
  user-select: none;
  font-weight: 700;
  border-radius: 25px;
  padding: 8px 0;
}
