/* Chrome, Safari, Edge, Opera */
.numeric-field::-webkit-outer-spin-button,
.numeric-field::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.numeric-field[type=number] {
  -moz-appearance: textfield;
}

.numeric-field {
  outline: none;
  border-radius: 8px;
  height: 48px;
  width: 100%;
  padding: 8px 16px;
  background: var(--gray);
  border: 1px solid var(--dark-gray);
}

.numeric-field:focus {
  border-color: var(--primary);
}
