.overlay {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 20%);
  padding-top: 196px
}

.modal {
  padding: 24px;
  margin: 0 auto;
  border-radius: 16px;
  background: #FAFAFA;
  min-width: 480px;
}

.modal-header {
  display: flex;
  justify-content: space-between;

  position: relative;
  padding-bottom: 24px;
  font-size: 16px;
  font-weight: 700;
}

.modal-header:after {
  content: "";
  position: absolute;
  width: calc(100% + 48px);
  height: 1px;
  background: #C4C4C4;
  bottom: 0;
  left: -24px;
}

.modal-content {
  padding-top: 24px;
}
