@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700&display=swap');

:root {
  --primary: #F97070;
  --primary-dark: #E06464;
  --transparent-black: #00000033;
  --gray: #EDEDED;
  --light-gray: #FAFAFA;
  --dark-gray: #C4C4C4;
  --text: #444444;
  --subtle-text: #777777;
}

* {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: var(--text);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body {
  width: 100%;
  height: 100%;
  background: var(--light-gray);
}

#root {
  display: flex;
  align-items: center;
  flex-direction: column;

  max-width: 320px;
  width: 320px;

  padding-top: 64px;
  margin: 0 auto;
}
